
.chatBox
  border-radius: 5px
  padding: 10px
  width: 30%
  text-align: right
  background-color: aliceblue
  position: relative

  .switcher
    border-radius: 5px
    width: 100%
    margin-bottom: 10px

    .switch
      width: 50%
      display: inline-block
      text-align: center

    .active
      background-color: orangered

  .single
    display: block
    float: right
    margin-bottom: 10px
    clear: right
    width: 100%
    border-radius: 10px
    background-color: #d1aee2
    color: #282c34
    padding: 5px
    animation-name: example
    animation-duration: 2s
    &:last-child
      margin-bottom: 0
    .owner
      color: red

@keyframes example
  from
    background-color: red
  to
    background-color: #d1aee2


